nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#drejt{
    display: flex;
}
#main{
 display: flex;
 align-items: center;
}
shuma{
    margin-left: 60px;
}
button{
    border-radius: 20px solid blue;
    width: 80px;
    height: 30px;
    color: blue;
}
accauont{
     
    background-color: blue;
    height: 50px;
    width: 30px;
}
